<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Experiment</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .boxes {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .box-row {
            display: flex;
        }
        .box {
            margin: 0 10px;
        }
        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .info-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 50px;
        }
    </style>    
    <style>
	.container {
	    display: flex;
	}
	.boxes {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.box {
	    margin-bottom: 10px;
	}
    </style>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>

<body>
  <h1>Simple Experiment</h1>
  <div id="landing">
    <label for="participant_id">Participant ID:</label>
    <input type="text" id="participant_id">
    <button id="start_experiment" onclick="startExperiment()">Start Experiment</button>
  </div>
  <div id="experiment" class="container" style="display: none;">
    <div class="boxes">
      <img id="image1" class="box" src="{{ url_for('static', filename='question.png') }}" alt="Box 1">
      <img id="image2" class="box" src="{{ url_for('static', filename='question.png') }}" alt="Box 2">
      <img id="image3" class="box" src="{{ url_for('static', filename='question.png') }}" alt="Box 3">
    </div>
    <div>
      <p>Goal: <span id="goal"></span></p>
      <p>Score: <span id="score">0</span></p>
      <p>Trial: <span id="trial">N</span></p>
      <button id="box1" onclick="openBox(1)">Open Box 1</button><br>
      <button id="box2" onclick="openBox(2)">Open Box 2</button><br>
      <button id="box3" onclick="openBox(3)">Open Box 3</button><br>
      <button id="try" onclick="tryTask()">Try</button><br>
      <button id="leave" onclick="leaveTask()">Leave</button>
    </div>
  </div>

  <div id="intermission" style="display: none;">
    <p>Hidden value: <span id="hidden_value">-</span></p>
    <p>Outcome: <span id="outcome"></span></p>
    <p>Current score: <span id="intermission_score">0</span></p>
    <p>Trial: <span id="intermission_trial">N</span></p>
    <button id="next_trial" onclick="startTrial()">Next Trial</button>
  </div>

  <div id="results" style="display: none;">
    <p>Experiment finished! Your final score is <span id="final_score">0</span>.</p>
  </div>
  <script>
    let participantId = '';
    let score = 0;
    let trials = 5;
    let trial = 0
    let goal, hiddenNumber;

    function startExperiment() {
	participantId = $('#participant_id').val();
	if (!participantId) {
	    alert('Please enter a participant ID.');
	    return;
	}

	$('#landing').hide();
	startTrial();
    }

    function sendResult(action_type) {
	$.ajax({
	    url: '/save_result',
	    method: 'POST',
	    data: JSON.stringify({
		participant_id: participantId,
	     	trial_number: trial,
	     	hidden_number: hiddenNumber,
	     	action_number: actionNumber,
	     	action_type: action_type,
	     	score: score
	    }),
	    contentType: 'application/json;charset=UTF-8',
	    success: function() {
		actionNumber += 1;
	    }
	});
    }

    function openBox(boxId) {
	$.post('/open_box', {hidden_number: hiddenNumber}, function(data) {
	    revealedNumber = data.revealed_number;
	    updateBoxImage(boxId, revealedNumber);
	    score -= 1;
	    updateScore();	    
	});
	sendResult('open_box_' + boxId);
    }

    function updateBoxImage(boxId, revealedNumber) {
	let imageUrl = "{{ url_for('static', filename='') }}" + revealedNumber + '.png';
	$('#image' + boxId).attr('src', imageUrl);
    }

    function tryTask() {
	let correct = goal === hiddenNumber;
	if (correct) {
	    score += 3;
	    $('#outcome').text('Correct!');
	} else {
	    score -= 3;
	    $('#outcome').text('Incorrect.');
	}
	updateIntermission(true);
	sendResult('try');
    }

    function getNewTrial() {
    }    

    function leaveTask() {
	updateIntermission(false);
	sendResult('leave');
    }

    function updateIntermission(tried) {
	if (tried) {
	    $('#hidden_value').text(hiddenNumber);
	} else {
	    $('#hidden_value').text('-');
	    $('#outcome').text('You left this task.');
	}
	$('#intermission_score').text(score);
	$('#intermission_trial').text(trial);
	$('#experiment').hide();
	$('#intermission').show();
    }

    function startTrial() {
	if (trial === trials) {
	    $('#final_score').text(score);
	    $('#intermission').hide();
	    $('#results').show();
	    return;
	}
	trial += 1;
	actionNumber = 0;

	// Reset box images to question marks
	$('#image1, #image2, #image3').attr('src', "{{ url_for('static', filename='question.png') }}");

	$.post('/new_trial', {}, function (data) {
	    goal = data.goal;
	    hiddenNumber = data.hidden_number;
	    $('#goal').text(goal);
	    $('#trial').text(trial);
	});	

	$('#intermission').hide();
	$('#experiment').show();
    }
  </script>
</body>
</html>
